/* Fonts, Colors and basic styling of elements */
* {
    font-family: Verdana, sans-serif;
}

nav, 
.spotlight, 
footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-style: light italic;
    font-size: 36px;
    color: #1F2937;
}

.cta,
button {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

nav, 
.left>p {
    font-size: 18px;
    color: #E5E7EB;
}

.card>p {
    color:#1F2937;
    font-size: 18px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight:bold;
}

img {
    width: 100%;
    height: auto;
}

/* Layout */

body {
    display:flex;
    flex-direction: column;
    margin: 0;
}

nav,
ul,
.cards,
.cta,
footer,
.container,
.spotlight {
    display: flex;
}

ul {
    margin:0;
    padding:0;
    gap: 16px 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 30px clamp(30px,20vw,500px);
    gap: 50px;
}

.spotlight {
    padding: 30px clamp(30px,20vw,500px);
    gap: 50px;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
}

.left {
    gap: 5px;
    vertical-align: center;
    flex: 1 1 0px;
}

.headerbtn {
    margin-top: 5px;
}

.illustration {
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 50px clamp(30px,20vw,500px)
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card>p {
    width: 170px;
    height: auto;
    text-align: center;
}

.cards {
    gap: 30px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}